/* Put your CSS in here! */
/* Nav Bar */

#cat-logo{
    height: 2.2em;
    align-content: center;
    justify-content: center;
} 

body{
    background-color: antiquewhite;
    background: rgb(231,29,216);
    background: linear-gradient(90deg, rgba(238, 42, 225, 0.706) 0%, rgba(29, 245, 253, 0.651) 74%);

    @media (max-width: 290px) {
        
 

 }}